.person {
    list-style: none;
    background-color: rgb(250, 219, 215);
    padding: 3% 4%;
    margin-bottom: 4%;
}

.team-person-list {
    background-color: white;
    margin: 0;
    margin-top: 25px;
    width: 80%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.person-image {
    background-color: white;
    padding: 9px;
    object-fit: cover;
    width: 200px;
    height: 250px;
    margin-left: 6%;
    margin-top: 6%;
}

.person-bio-wrapper {
    flex: 1 1 50%;
    padding: 2% 6%;
}

.team-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-history {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.team-history p {
    min-width: 300px;
    margin: 4px;
    margin-top: 6%;
}

.team-history-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-history-images img {
    width: 250px;
    margin: 4px;
    margin-top: 6%;
}
