.header-container {
    background-color: rgb(148, 159, 130);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.h1 {
    border: none;
}

.aim-logo {
    width: 6rem;
    height: 6rem;

}

.titles-wrapper {
    display: flex;
    flex-direction: column;
    margin: 2vh 0;
}

.titles-wrapper h1 {
    margin: 0;
}


.titles-wrapper p {
    font-size: 1rem;
    margin: 0;
}