html {
  min-height: 100vh;
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(134, 115, 69);
  background-color: rgb(218, 189, 135);
  top: 0;
  min-height: 100vh;
}

.app-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 60vw;
  min-width: 350px;
  height: fit-content;
  min-height: 95vh;
  margin-block: 2vh;
  border: 3px solid rgb(134, 115, 69);
  border-radius: 10px;
  overflow: hidden;
}

a {
  color: inherit;
  font-weight: bold;
}

@media (max-width: 1000px) {
    .app-wrapper {
      margin: 0;
      width: 100vw;
      border: none;
      border-radius: 0;
      min-height: 100vh;
    }
    
    body {
      min-height: 100vh;
    }
  

}